.breadcrumb {
  padding-top: 60px;
  background-color: #f6f1e9;
  font-size: 14px;
  color: #444;
}

.breadcrumb a {
  color: #6c757d;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  font-weight: bold;
  color: #444;
}