.header {
    background-color: #add8e6;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%
  }
  
  .header-title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .header-nav a {
    margin-left: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }