body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: lightblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
  }
  
  .notes-container {
    padding: 20px;
    background-color: #f6f1e9;
    min-height: 90vh;
    position: relative;
  }
  
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background-color: orange;
    border: none;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .modal-box {
    background-color: #f8f1db;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: orange;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }
  
  .modal-box input,
  .modal-box textarea {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
  }
  
  .add-btn {
    background-color: green;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .note-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px;
    background-color: #fdf4f4;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    width: 280px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  
  .note-header {
    font-weight: bold;
    background-color: orange;
    padding: 5px;
    border-radius: 6px 6px 0 0;
  }
  
  .note-content {
    margin: 10px;
    flex-grow: 1;
    color: #333;
  }
  
  .note-footer {
    text-align: right;
    font-size: 0.75rem;
    color: #666;
    margin: 10px;
  }

  .notes-grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }